@font-face {
    font-family: taner_ardali;
    src: url(Taner\ Ardali\ -\ Antikor\ Text\ Light.ttf)
}
div {
    color: white;
}
body {
    background-color: #111111;
    font-family: taner_ardali;
    margin: 0;
}

.showcase {
    display: flex;
}
.icon {
    color: white;
    padding-left: 1%;
    width: 4%;
}
.greeting {
    padding: 4% 0% 0% 3%;
    font-size: 30px;
    color: white;
}
.desc {
    color: white;
    margin-top: -20px;
    padding-left: 4%;
    margin-left: -0.8%;
    font-size: 25px !important;
}
.desc p {
    font-size: 25px;
}

.course_desc {
    color: black;
    margin-top: -20px;
    padding: 30px;
    font-size: 25px !important;
}
.course_desc ul {
    list-style: none;
}

.school {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.megabox {
    height: 720px;
    margin: 150px;
    margin-top: 0;
}
.megabox-container {
    height: 720px;
    margin: 0;
    padding: 0;
}
.megabox-container h1 {
    padding: 0;
    font-size: 60px;
}

.megabox-container-image {
    width: 50%;
    min-height: 100%;
    float: left;
    display: flex;
    align-items: center;
}
.megabox-container-image img {
    width: 100%;
    margin: auto;
    padding: 0;
    filter: grayscale(100%);
}

.megabox-container-text {
    width: 50%;
    min-height: 100%;
    float: right;
    display: inline-flex;
}
.megabox-container-text-content {
    margin: auto 5px;
}

.megabox-container-text p {
    font-weight: 600;
    margin: 30px;
}

.megabox-container-list {
    list-style: none;
}
.megabox-container-list li {
    list-style: none;
    padding-top: 10px;
}

.course_container {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
}

.navigation {
    position: absolute;
    bottom: 0;
}
.navigation a {
    font-size: 25px;
    color: white;
    text-decoration: none !important; 
}




/*https://www.w3schools.com/howto/howto_css_responsive_header.asp*/