body {
    background-color: #5CDB95;
}

.header {
    overflow: hidden;
    padding: 20px, 10px;
    background-color: green;
    width: 100%;
}

.header h1 {
    font-family: monospace;
    font-size: 50px;
}
/*https://www.w3schools.com/howto/howto_css_responsive_header.asp*/