@font-face {
    font-family: taner_ardali;
    src: url(Taner\ Ardali\ -\ Antikor\ Text\ Light.ttf)
}
div {
    color: white;
}
body {
    background-color: #111111;
    font-family: taner_ardali;
}
img {
    width: 5%;
    padding: 0;
    margin: 0;
}
.icon {
    color: white;
    padding-left: 1%;
}
.greeting {
    padding: 4% 0% 0% 3%;
    font-size: 30px;
    color: white;
}

.desc {
    color: white;
    margin-top: -20px;
    padding-left: 4%;
    margin-left: -0.8%;
    font-size: 25px !important;
}
.desc p {
    font-size: 25px;
}

.navigation {
    margin-top: 370px;
}
.navigation a {
    font-size: 25px;
    color: white;
    text-decoration: none !important; 
}

/*
.header {
    overflow: hidden;
    padding: 20px, 10px;
    width: 100%;
}

.header a {
    font-size: 25px;
    color: white;
    text-decoration: none; 

    width: 25%;
    text-align: center;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/


/*https://www.w3schools.com/howto/howto_css_responsive_header.asp*/